@charset "utf-8";
/* latin-ext */
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 200;
    src: local('Dosis ExtraLight'), local('Dosis-ExtraLight'), url(https://fonts.gstatic.com/s/dosis/v4/VK-RlLrn4NFhRGqPkj6IwBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 200;
    src: local('Dosis ExtraLight'), local('Dosis-ExtraLight'), url(https://fonts.gstatic.com/s/dosis/v4/RPKDmaFi75RJkvjWaDDb0vesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 300;
    src: local('Dosis Light'), local('Dosis-Light'), url(https://fonts.gstatic.com/s/dosis/v4/SHQzTQBI7152hSrIuGUiVBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 300;
    src: local('Dosis Light'), local('Dosis-Light'), url(https://fonts.gstatic.com/s/dosis/v4/7aJzV14HzAOiwNTiPgucGfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    src: local('Dosis Regular'), local('Dosis-Regular'), url(https://fonts.gstatic.com/s/dosis/v4/RlBXAIuiO5GvH9-0-JbBlw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    src: local('Dosis Regular'), local('Dosis-Regular'), url(https://fonts.gstatic.com/s/dosis/v4/4hYyXH_8WmbBLamf6WjLwg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 500;
    src: local('Dosis Medium'), local('Dosis-Medium'), url(https://fonts.gstatic.com/s/dosis/v4/NI3uVO_o2Ursx6Z1Lyy3oRTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 500;
    src: local('Dosis Medium'), local('Dosis-Medium'), url(https://fonts.gstatic.com/s/dosis/v4/mAcLJWdPWDNiDJwJvcWKc_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 600;
    src: local('Dosis SemiBold'), local('Dosis-SemiBold'), url(https://fonts.gstatic.com/s/dosis/v4/yeSIYeveYSpVN04ZbWTWghTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 600;
    src: local('Dosis SemiBold'), local('Dosis-SemiBold'), url(https://fonts.gstatic.com/s/dosis/v4/O6SOu9hYsPHTU43R17NS5fesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 700;
    src: local('Dosis Bold'), local('Dosis-Bold'), url(https://fonts.gstatic.com/s/dosis/v4/fP7ud4UTUWGxo-nV1joC1RTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 700;
    src: local('Dosis Bold'), local('Dosis-Bold'), url(https://fonts.gstatic.com/s/dosis/v4/22aDRG5X9l7obljtz7tihvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 800;
    src: local('Dosis ExtraBold'), local('Dosis-ExtraBold'), url(https://fonts.gstatic.com/s/dosis/v4/NL7tQp6ch38l_aQukeablRTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 800;
    src: local('Dosis ExtraBold'), local('Dosis-ExtraBold'), url(https://fonts.gstatic.com/s/dosis/v4/nq3OPeKr7RUSF_YDJ1woxvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 300;
    src: local('Lato Light Italic'), local('Lato-LightItalic'), url(https://fonts.gstatic.com/s/lato/v11/XNVd6tsqi9wmKNvnh5HNEBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 300;
    src: local('Lato Light Italic'), local('Lato-LightItalic'), url(https://fonts.gstatic.com/s/lato/v11/2HG_tEPiQ4Z6795cGfdivFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v11/YMOYVM-eg6Qs9YzV9OSqZfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v11/PLygLKRVCQnA5fhu3qk5fQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v11/AcvTq8Q0lyKKNxRlL28RnxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v11/HkF_qI1x_noxlxhrhMQYEFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body, html {
    height: 100%
}

.no-padding {
    padding: 0
}

.no-margin {
    margin: 0
}

a:active,
a:focus,
a:hover,
a:visited {
    outline: 0;
    text-decoration: none
}

body {
    font: 16px Dosis, sans-serif;
    text-rendering: optimizeLegibility;
    height: auto;
    overflow: hidden auto;
    background: #fff;
}

body header.navigation {
    background: rgba(0, 0, 0, 0);
    height: 88px;
    position: fixed !important;
    top: 0;
    z-index: 10000;
}

body header .container-fluid {
    height: 100%;
}

body header .logo {
    height: 100%;
    max-height: 88px;
    display: none;
    width: 38px;
    overflow: hidden;
}

body header .logo img {
    display: block;
    margin: 10px auto 0 auto;
    width: 160px;
}

body header nav {
    max-width: 960px;
    height: 100%
}

body header nav ul {
    width: 100%;
    height: 100%;
}

body header nav ul li {
    margin: 0 35px;
    height: 100%;
    display: inline-flex !important;
}

body header nav ul li a,
body header nav ul li a:active,
body header nav ul li a:link,
body header nav ul li a:visited {
    display: inline-block;
    color: #A0A0A0;
    font-weight: 500;
    font-size: .875em;
    border-radius: 35px;
    margin: auto;
    transition: .2s background;
    -webkit-transition: .2s background;
    vertical-align: middle;
    padding: 10px 20px;
    position: relative;
}

body header nav.menu ul li a:hover {
    text-decoration: none;
    background: #8DC63F;
    color: #fff;
}

body .rotator {
    background: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
}

body .rotator .controls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    max-width: 300px;
    z-index: 9999;
    opacity: 1;
}

body .rotator .controls .logo {
    width: 100%;
    opacity: 1;
    margin-bottom: 50px;
}

body .rotator .btn {
    width: 100%;
    z-index: 9999;
    display: block;
    font: 400 .875em Lato;
    border-radius: 35px;
    padding: 10px 20px;
    margin: 15px auto;
}

body .rotator .btn.green {
    background: #8DC63F;
    color: #fff;
}

body .rotator .btn.gray {
    background: #242424;
    color: #fff;
}

body .rotator .item.active {
    -webkit-animation: scaleImage 10s infinite;
    animation: scaleImage 10s infinite;
}

body .rotator .item img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    opacity: 0.35;
    transform: scale(1);
    -webkit-transform: scale(1);
}

body .rotator .carousel-inner {
    height: 100%;
    border-bottom: 3px solid #8DC63F;
}

body main {
    position: absolute !important;
    top: 100%;
}

body .offer {
    position: relative;
    top: 100%;
}

body h2 {
    font-weight: 900
}

body .aboutus, body .offer,
body .portfolio, footer {
    background: #fff;
    overflow: hidden
}

body .aboutus h2,
body .offer h2,
body .packets h2 {
    color: #6f6f6f
}

body .aboutus,
body .contact,
body .hosting,
body .offer,
body .portfolio,
body .statistic,
body .packets {
    padding: 50px 0 0;
}

body .statistic {
    background: #E1E1E1;
    padding-bottom: 35px;
}

body .aboutus .list,
body .hosting .list,
body .offer .list,
body .portfolio .list,
body .statistic .list {
    margin-top: 50px;
}

body .statistic .list .item {
    height: 250px
}

body .statistic .list .item p {
    font-family: Lato, sans-serif;
    font-weight: 300
}

.svg-defs {
    display: none
}

body .offer .svg-wrapper {
    width: 64px;
    height: 63px;
    padding: 15px;
    border-radius: 100%;
    display: inline-block;
}

body .offer svg {
    width: 100%;
    height: 100%;
    display: inline-block;
    pointer-events: none
}

body .offer svg path {
    fill: #000 !important;
    color: #000 !important;
}

body .offer a {
    padding: 8px;
    font-weight: 400;
    color: #8DC63F;
    margin: 0 auto;
    cursor: pointer;
    display: block;
    max-width: 120px;
    font: .750em/1.42857143 Lato;
    border-radius: 35px;
    border: 3px solid #8DC63F;
    -webkit-transition: .2s background;
    transition: .2s background
}

body .offer a:hover {
    background: #8DC63F;
    color: #fff
}

body .portfolio .item {
    cursor: pointer;
}

.statistic .circle {
    position: relative;
    margin-bottom: 20px;
}

.statistic .circle strong {
    font-size: 2em;
    font-weight: 700;
    color: #8DC63F;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

body .offer .list .item {
    height: 300px;
    margin-bottom: 15px
}

body .offer h4 {
    margin-top: 20px;
    color: #8DC63F;
    font-weight: 700;
    letter-spacing: .050em;
}

body .offer .list p {
    color: #6f6f6f;
    font: 400 .875em/1.42857143 Lato;
    padding: 0 15px 20px;
    height: 120px;
}

body .portfolio h2,
body .statistic h2 {
    color: #8DC63F;
}

body .portfolio .category {
    margin: 65px auto 0;
    max-width: 960px;
    font-family: Lato, sans-serif;
    display: flex;
    flex-flow: wrap
}

body .portfolio .category li {
    display: inline-block;
    flex: 1 1 20%;
    margin: 0 auto 20px auto;
}

body .portfolio .category li a {
    padding: 11px 25px;
    display: inline-block;
    margin: auto;
    color: #6f6f6f;
    border-radius: 35px;
    font-size: .875em;
    transition: .2s background;
    -webkit-transition: .2s background
}

body .portfolio .category li a.active {
    background: #8DC63F;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

body .portfolio .category li a:hover {
    background: #323232;
    color: #fff;
    text-decoration: none
}

body .portfolio .list .item {
    height: 245px;
    overflow: hidden;
    position: relative;
    background: #fff
}

body .portfolio .list .item .item-description {
    background: 0 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    transition: .5s all;
    -webkit-transition: .5s all;
    cursor: pointer
}

body .portfolio .list .item .item-description h4 {
    color: #fff;
    font-weight: 700;
    margin-top: 90px;
    opacity: 0;
    transition: .5s all;
    -webkit-transition: .5s all
}

body .portfolio .list .item .item-description h5 {
    color: #bfbfbf;
    font-weight: 300;
    clear: left;
    margin-top: 5px;
    opacity: 0;
    transition: .5s all;
    -webkit-transition: .5s all
}

body .portfolio .list .item:hover .item-description {
    background: rgba(0, 0, 0, .8)
}

body .portfolio .list .item:hover .item-description h4,
body .portfolio .list .item:hover .item-description h5 {
    opacity: 1
}

body .portfolio .list .item:hover img {
    -webkit-animation: scaleImage .1s;
    animation: scaleImage .1s;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

body .aboutus .list .item {
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
    transition: .2s background;
    -webkit-transition: .2s background;
    padding: 20px 0
}

body .aboutus .container > p,
body .offer .container > p,
body .portfolio > p,
body .statistic .container > p,
body .packets .container > p {
    color: #6f6f6f;
    margin-top: 15px;
    font: 300 1.125em/1.42857143 Lato;
}

body .aboutus .list .item h3 {
    margin-top: 25px;
    font-weight: 700;
    color: #8DC63F;
}

body .aboutus .list .item img,
body .portfolio .list .item img {
    margin: 0 auto;
}

body .aboutus .list .item .mail,
body .aboutus .list .item .phone,
body .aboutus .list .item .role {
    color: #6f6f6f;
    position: relative;
    font: 300 .875em/1.42857143 Lato;
}

body .aboutus .list .item .role {
    height: 40px;
}

body .aboutus .list .item .mail,
body .aboutus .list .item .phone {
    display: inline-block;
    left: 10px;
    font-family: Lato, sans-serif;
    margin-bottom: 10px;
}

body .aboutus .list .item .mail svg,
body .aboutus .list .item .phone svg {
    width: 16px;
    height: 16px;
    left: -20px;
    position: relative;
    top: 3px;
}

body .contact {
    background: #1D2224;
    min-height: 200px;
}

body .contact .address h2,
body .contact .office h2 {
    color: #fff;
    font-weight: 900;
    margin-bottom: 20px;
}

body .contact .address,
body .contact .office {
    padding: 50px
}

body .contact .address h4 {
    color: #fff;
    font-weight: 300;
    clear: left;
}

body .contact address {
    color: #fff;
    clear: left;
    font: 300 .875em/2 Lato;
}

body .contact address p {
    font-size: 1em;
    position: relative;
}

body .contact address .mail svg,
body .contact address .addr svg,
body .contact address .phone svg {
    width: 16px;
    height: 16px;
    margin: 6px 10px 0 0;
    fill: #989898;
    color: #989898;
}

body .contact .office p {
    color: #fff;
    clear: left;
    font: 300 .875em/2 Lato;
}

footer {
    min-height: 175px !important;
}

footer nav {
    margin-top: 45px;
}

footer nav ul li {
    display: inline;
}

footer nav ul li a {
    display: inline-block;
    color: #6f6f6f;
    font-size: .875em;
    margin-right: 25px
}

footer nav ul li a:hover {
    text-decoration: none;
    color: #8DC63F;
}

footer .copyright {
    color: #6f6f6f;
    margin-top: 40px;
    font: .875em/1.42857143 Lato
}

body .aboutus .photo img {
    background: #dedede
}

body .offers .cover img {
    margin-top: 70px
}

body .offers h3 {
    font-weight: 700;
    margin: 65px 0 0 35px;
    color: #8DC63F;
}

body .offers .description {
    margin: 10px 0 0 35px;
    font: 300 .875em/1.42857143 Lato;
}

body .offers .price table {
    margin-top: 50px
}

body .offers .price table td {
    font: .875em/1.42857143 Lato
}

body .offers .tabs {
    margin-top: 35px;
}

body .offers .tabs .tab {
    font: .875em/1.42857143 Lato, sans-serif;
    margin-bottom: 10px;
}

body .offers .tabs .tab a {
    padding: 10px 35px;
    border-radius: 35px;
    width: 100%;
    color: #323232;
    cursor: pointer;
    display: block;
    transition: .2s background;
    -webkit-transition: .2s background
}

body .offers .tabs .tab a:hover {
    color: #fff;
    background: #323232;
}

body .offers .tabs .tab.active a {
    font-weight: 700;
    color: #fff;
    background: #8DC63F;
}

.table-responsive {
    overflow-x: visible;
    border: 0;
}

@media (max-width: 992px) {

    .table-responsive {
        overflow-x: auto;
    }

    body header.top {
        height: auto;
        padding: 20px 0;
    }

    body header.navigation {
        top: 160px;
    }

    .responsive-md-none {
        display: none
    }

    .responsive-md-center {
        text-align: center
    }

    .responsive-float-md-none {
        float: none
    }

    body .aboutus .list .item .mail,
    body .aboutus .list .item .phone {
        left: 0
    }


    body header .rotator {
        padding-top: 50px;
        padding-bottom: 50px
    }

    body .portfolio .category {
        height: auto
    }

    body .portfolio .category li {
        flex: 1 1 100%;
        margin-bottom: 20px
    }

    body .contact .address h2,
    body .contact .office h2 {
        margin-top: 30px
    }

    body .contact .office p {
        margin-top: 10px;
        margin-bottom: 30px
    }

    footer nav ul li {
        display: block;
        margin-bottom: 10px
    }

    footer nav ul li a {
        margin-right: 0
    }

    body .offers .description, body .offers h3 {
        padding: 0;
        margin: 35px 0
    }

    body .offers .price table {
        margin-top: 15px
    }

    body .rotator h2 {
        font-size: 2em;
        padding: 0 15px
    }

    body .rotator h4 {
        font-size: 1em;
        padding: 0 15px
    }

    .rotator img:not(.logo) {
        display: block;
        max-width: inherit !important;
        height: inherit !important
    }

    body .domain .domain-form input[type="text"] {
        margin: 0
    }

    .domain-form .form-group {
        padding: 0;
        margin-bottom: 15px !important
    }
}

@media (max-width: 420px) {
    body {
        font-size: 14px
    }

    .domain-form .form-group {
        padding: 0
    }

    body .domain h3 {
        margin-top: 120px
    }
}

body .glyphicon {
    font-size: 24px;
    color: #fff !important;
    position: relative
}

.caption, body nav.pin {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0
}

.active .glyphicon {
    color: #414141 !important
}

.mobile.active {
    background-color: #fff
}

.caption {
    overflow: hidden;
    z-index: 110;
    background-color: rgba(0, 0, 0, .8);
    display: none;
    right: 0
}

.caption nav {
    max-width: 960px;
    height: auto;
    margin: 100px auto 0
}

.caption nav ul {
    padding: 0
}

.caption nav ul li {
    border-top: 1px solid #3d3d3d;
    transition: .2s all linear;
    -webkit-transition: .2s all linear
}

.caption nav ul li:hover {
    background-color: #3d3d3d;
    color: #323232
}

.caption nav ul li:first-child {
    border: 0
}

.caption nav ul li a {
    color: #fff;
    padding: 15px;
    font-size: .750em;
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none
}

body nav.pin {
    background: #fff;
    padding: 10px 0;
    margin-top: 0;
    max-width: 100%;
    z-index: 10000
}

#wrapper, section.portfolio .container {
    position: relative
}

body nav.pin ul {
    margin: 0 auto;
}

body nav.pin ul li {
    display: block;
    margin-bottom: 20px
}

body nav.pin ul li a,
body nav.pin ul li a:active,
body nav.pin ul li a:link,
body nav.pin ul li a:visited {
    color: #323232;
    width: 100%
}

body nav.pin ul li a:hover {
    color: #fff;
    background: #8DC63F
}

.wow {
    visibility: hidden
}

.selectric-wrapper {
    position: relative;
    cursor: pointer;
}

.selectric-responsive {
    width: 100%;
}

.selectric {
    border: 1px solid #DDDDDD;
    background: #FCFCFC;
    position: relative;
    border-radius: 0;
}
.selectric .label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 50px 0 10px;
    font-size: 12px;
    line-height: 45px;
    color: #000000;
    height: 50px;
}
.selectric .button {
    background: transparent;
    border-radius: 0;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    color: #000000;
    text-align: center;
    font: 0/0 a;
}
.selectric .button:after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top-color: #000;
    border-bottom: none;
}

.selectric-hover .selectric {
    border-color: #c4c4c4;
}
.selectric-hover .selectric .button {
    color: #c4c4c4;
}
.selectric-hover .selectric .button:after {
    border-top-color: #c4c4c4;
}

.selectric-open {
    z-index: 9999;
}
.selectric-open .selectric {
    border-color: #c4c4c4;
    background: #e3e3e3;
}
.selectric-open .selectric-items {
    display: block;
}

.selectric-disabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectric-hide-select {
    position: relative;
    overflow: hidden;
    width: 0;
    height: 0;
}
.selectric-hide-select select {
    position: absolute;
    left: -100%;
    display: none;
}

.selectric-input {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    outline: none !important;
    border: none !important;
    *font: 0/0 a !important;
    background: none !important;
}

.selectric-temp-show {
    position: absolute !important;
    visibility: hidden !important;
    display: block !important;
}

.tablesorter .selectric {
    width: 200px;
}

.selectric-items {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #F8F8F8;
    border: 1px solid #C4C4C4;
    z-index: -1;
    box-shadow: 0 0 10px -6px;
}
.selectric-items .selectric-scroll {
    height: 100%;
    overflow: auto;
}
.selectric-above .selectric-items {
    top: auto;
    bottom: 100%;
}
.selectric-items ul, .selectric-items li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 20px;
    min-height: 20px;
}
.selectric-items li {
    display: block;
    padding: 8px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #EEE;
    color: #666;
    cursor: pointer;
}
.selectric-items li.selected {
    background: #EFEFEF;
    color: #444;
}
.selectric-items li:hover {
    background: #8DC63F;
    color: #fff;
}
.selectric-items .disabled {
    filter: alpha(opacity=50);
    opacity: .5;
    cursor: default !important;
    background: none !important;
    color: #666 !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.selectric-items .selectric-group .selectric-group-label {
    font-weight: 700;
    padding-left: 10px;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: none;
    color: #444;
}
.selectric-items .selectric-group.disabled li {
    filter: alpha(opacity=100);
    opacity: 1;
}
.selectric-items .selectric-group li {
    padding-left: 25px;
}

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
    z-index: 2;
}

.slideout-widget {
    position: fixed;
    right: -15em;
    top: 50%;
    transition: right .4s;
    width: 15em;
    z-index: 10;
}

.slideout-widget:hover {
    right: 0;
}

.slideout-widget-handler,
.slideout-widget-content {
    background: #eee;
    border: none;
    padding: 1em .5em;
}

.slideout-widget-handler {
    border-right: none;
    left: -3em;
    position: absolute;
    text-align: center;
    width: 3em;
}
.slideout-widget-content {
    border-width: 1px 0;
    overflow: hidden;
    width: 100%;
    background: #3C5B9B;
    z-index: 11;
}

.widget-facebook .slideout-widget-handler,
.widget-facebook .slideout-widget-content {
    background: #3c5b9b;
    border: none;
}

.widget-facebook,
.widget-facebook a {
    color: #fff;
}

.slideout-big {
    right: -20em;
    width: 20em;
}

.widget-facebook-2 .slideout-widget-handler {
    color: #fff;
    background: #3c5b9b;
}


.widget-facebook-2 {
    margin-top: 12em;
    top: 15%;
    z-index: 12;
}

.widget-facebook-2 svg {
    fill: #fff;
    stroke: #fff;
    width: 16px;
    height: 16px;
}

.widget-gplus-2 {
    margin-top: 16em;
    top: 30%;
    z-index: 11;
}

@media (max-width: 768px) {
    .slideout-widget {
        display: none;
    }
}

/* Animation */

@-webkit-keyframes scaleImage {
    from { transform: scale(1); }
    to { transform: scale(1.1); }
}

@keyframes scaleImage {
    from { transform: scale(1); }
    to { transform: scale(1.1); }
}
